<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./style.css" rel="stylesheet">
    </head>
    <body>
        <div class="nav">
            <a class="nav_link" href="/">Babble</a>
            <a class="nav_link" href="/post">Create a new Bab</a>
            {{#username}}
            <a class="nav_link">Logged in as {{username}}</a>
            <a class="nav_link" href="/logout">Log out</a>
            {{/username}}
            {{^username}}
            <a class="nav_link" href="/login">Log In</a>
            <a class="nav_link" href="/signup">Sign Up</a>
            {{/username}}
        </div>
        <div class="post_container">
            {{#posts}}
                <div class="posts">
                    <p>{{author.username}}: {{babble}}<br>
                    {{updatedAt}}<br>
                    {{#likes.length}}
                        {{likes}}
                    {{/likes.length}}
                    {{^likes}}
                        No likes yet
                    {{/likes}}
                </div>
                <div class="buttons">
                    <button click="like"
                </div>
            {{/posts}}
            {{^posts}}
                <div class="no_posts">
                </div>
            {{/posts}}
        </div>
    </body>
</html>