<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./style.css" rel="stylesheet">
    </head>
    <body>
        <div class="nav">
            <a class="nav_link" href="/">Babble</a>
            <a class="nav_link" href="/createbab">Create a new Bab</a>
            {{#username}}
            <a class="nav_link">Logged in as {{username}}</a>
            <a class="nav_link" href="/logout">Log out</a>
            {{/username}}
            {{^username}}
            <a class="nav_link" href="/login">Log In</a>
            <a class="nav_link" href="/signup">Sign Up</a>
            {{/username}}
        </div>
        <div class="post_container">
            {{#posts}}
                <div class="posts">
                    {{^author.username}}
                    <p>{{username}}: {{babble}}<br>
                    {{/author.username}}
                    {{#author.username}}
                    <p>{{author.username}}: {{babble}}<br>
                    {{/author.username}}
                    {{updatedAt}}<br>
                    {{#likes.length}}
                        <a href="/posts/{{id}}">{{likes.length}}</a> people like this!
                    {{/likes.length}}
                    {{^likes}}
                        No likes yet!
                    {{/likes}}
                    <span>
                        {{#author.username}}
                        {{#username}}
                            {{^userId}}
                            {{^likes.postid}}
                        <form action="/like" method="POST">
                        <input type="hidden" name="likethis" value="{{id}}">
                        <input type="submit" class="buttons" value="LIKE">
                        </form>
                            {{/likes.postid}}
                            {{/userId}}
                        {{/username}}
                        {{/author.username}}
                        {{^author.username}}
                        <form action="/delete" method="POST">
                        <input type="hidden" name="deletethis" value="{{id}}">
                        <input type="submit" class="buttons" value="DELETE POST">
                        </form>
                        {{/author.username}}
                    </span>
                </div>
            {{/posts}}
            {{^posts}}
                <div class="no_posts">
                </div>
            {{/posts}}
        </div>
    </body>
</html>