<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./style.css" rel="stylesheet">
    </head>
    <body>
        <div class="nav">
            <a class="nav_link" href="/">Babble</a>
            <a class="nav_link" href="/createbab">Create a new Bab</a>
            {{#username}}
            <a class="nav_link">Logged in as {{username}}</a>
            <a class="nav_link" href="/logout">Log out</a>
            {{/username}}
            {{^username}}
            <a class="nav_link" href="">Log in</a>
            <a class="nav_link" href="/signup">Sign Up</a>
            {{/username}}
        </div>
        <div class="login">
            {{#msg}}
            <h4>{{.}}</h4>
            {{/msg}}
            {{^msg}}
            <h1>Please login</h1>
            <form action="/login" method="POST" class="loginform">
                <input type="text" name="username" placeholder="Input your username"><br>
                <input type="password" name="password" placeholder="Input your password"><br>
            <input type="submit">
            </form>
            {{/msg}}
        </div>
    </body>
</html>